/* 1. Definimos el orden */
@layer tailwind-base, primevue, tailwind-utilities;

/* 2. Base de Tailwind */
@layer tailwind-base {
  @tailwind base;
  
  /* Reset mínimo manual para que la parte pública no se rompa */
  *, ::before, ::after { box-sizing: border-box; border-width: 0; border-style: solid; }
  img, svg { display: block; vertical-align: middle; }
}

/* 3. Forzamos a que PrimeVue use su capa (IMPORTANTE) */
@layer primevue {
  /* No pongas nada aquí, lo inyectaremos vía CSS imports o déjalo listo para overrides */
}

/* 4. Utilidades de Tailwind al final para que siempre ganen */
@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;

  .zippia-azul{
    background-color: #7F82A6;
}
  body{
    margin:0;
    background-image: url('../assets/imagenes/Zippiafondo.png');

  }
  .zippia-boton{
    background-color: #7F82A6;
    color: black;
    font-family: 'Abhaya Libre', serif;
    font-weight: bold;
    font-size: 19pt;
    border: 2px solid black;
    border-radius: 0.5rem /* 8px */;
    transition: 0.3s;
    text-decoration: none;

  }

  .zippia-categoria{
    background-color: #7F82A6;
    color: black;
    font-size: 18pt;
    font-family: 'Abhaya Libre', serif;
    transition: 0.3s;

  }

  .zippia-boton:hover {
  background-color: #6F7294;
  color: white;
  cursor: pointer;
  
}
.azul-raro-fondo{
  background-color: #7F82A6;

}
}